.carousel-container {
    width: 110%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    flex-direction: row;
  }
  
  .carousel-wrapper {
    display: flex;
    animation: carousel-scroll 5s linear infinite;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 10px;
  }
  @keyframes carousel-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% * 9)); /* Desplazar hacia la izquierda (considerando el número total de elementos) */
    }
  }
  
  